<p style="color: green"><%= notice %></p>

<div id="items" class="rounded">
<p style="color: green"><%= notice %></p>

<h1 class="bg-secondary text-light py-2 rounded text-center">Items</h1>


  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
    <tr>
      <th>IDs</th>
      <th>Titles</th>
      <%# <th>Descriptions</th> %>
      <th>Prices</th>
      <%# <th>Images</th> %>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>            
		<% @items.each do |item| %> 
			<tr class="success">
			  <td><%= item.id %></td>
			  <td><%= item.title %></td>
			  <%# <td><%= item.description %></td> 
			  <td><%= item.price %></td>
			  <%# <td><%= item.image_url %></td> 
        <td><%= link_to "Show This Item", item, :class => "btn btn-outline-info sm" %></td>
			</tr>
    <% end %>
		</tbody>
	</table>
</div>
<%= link_to "New item", new_item_path, :class => "btn btn-primary sm mx-2"%>
